In [1]:
import pandas as pd
import json

In [2]:
epl_data = ("./Resources/english-premier-league-match-data/datafile 2/season17-18/season_stats.json")
fifa_player_info = ("./Resources/fifa-18-demo-player-dataset/PlayerPersonalData.csv")
fifa_player_info_df = pd.read_csv(fifa_player_info)

In [3]:
with open(epl_data) as jsonfile:
    match_stats_json = json.load(jsonfile)

In [4]:
# getting the name, team, position, and match rating for each player for each match. real match data

player_details = []

for match, team in match_stats_json.items():
    for team2,agg_stats in team.items():
        for x,y in agg_stats['team_details'].items():
            if x == 'team_name':
                team_name = y
        for player_name, player_stats in agg_stats['Player_stats'].items():
            save_stats=[]
            save_stats.append(player_name)
            save_stats.append(team_name)
            for key,value in player_stats['player_details'].items():
                if key == 'player_position_info':
                    save_stats.append(value)
                if key == 'player_rating':
                    save_stats.append(value)
            player_details.append(save_stats)

In [33]:
columns = ['name','team','position','match rating']
epl_data_df = pd.DataFrame(player_details, columns = columns)
epl_data_df.dtypes

name            object
team            object
position        object
match rating    object
dtype: object

In [36]:
epl_data_df['club'] = epl_data_df['club'].astype(str)
epl_data_df['team'] = epl_data_df['team'].astype(str)
epl_data_df['name'] = epl_data_df['name'].astype(str)
epl_data_df['match rating'] = epl_data_df['match rating'].astype(float)

In [37]:
epl_data_df.dtypes

name             object
team             object
position         object
match rating    float64
club             object
dtype: object

In [59]:
match_ratings = epl_data_df.groupby('name').mean()
match_ratings[0:5]

                 match rating
name
Aaron Cresswell      6.508649
Aaron Lennon         6.467586
Aaron Mooy           6.868889
Aaron Ramsdale       0.000000
Aaron Ramsey         7.271250

In [67]:
# match_ratings['Aaron Cresswell']

In [45]:
# dataframe with the FIFA video game ratings for all players

fifa_player_info_df = fifa_player_info_df[['ID','Name','Overall','Potential','Club']]
fifa_player_info_df.head()
len(fifa_player_info_df)

17981

In [43]:
# get the EPL teams from '17 -'18

wiki_tables = pd.read_html('https://en.wikipedia.org/wiki/2017%E2%80%9318_Premier_League')
epl_teams = wiki_tables[1]
epl_teams = epl_teams.loc[0:19,'Team']
epl_teams

0                    Arsenal
1                Bournemouth
2     Brighton & Hove Albion
3                    Burnley
4                    Chelsea
5             Crystal Palace
6                    Everton
7          Huddersfield Town
8             Leicester City
9                  Liverpool
10           Manchester City
11         Manchester United
12          Newcastle United
13               Southampton
14                Stoke City
15              Swansea City
16         Tottenham Hotspur
17                   Watford
18      West Bromwich Albion
19           West Ham United
Name: Team, dtype: object

In [53]:
# get only the players that are in the EPL

epl_players = fifa_player_info_df.loc[fifa_player_info_df['Club'].isin(epl_teams)]

In [66]:
epl_players

           ID              Name  Overall  Potential                    Club
6      193080            De Gea       90         92       Manchester United
7      183277         E. Hazard       90         91                 Chelsea
11     192985      K. De Bruyne       89         92         Manchester City
12     192119       T. Courtois       89         92                 Chelsea
13     184941        A. Sánchez       89         89                 Arsenal
16     153079         S. Agüero       89         89         Manchester City
28     176635           M. Özil       88         88                 Arsenal
29     167948         H. Lloris       88         88       Tottenham Hotspur
31      41236    Z. Ibrahimović       88         88       Manchester United
33     215914          N. Kanté       87         90                 Chelsea
35     195864          P. Pogba       87         92       Manchester United
36     190460        C. Eriksen       87         91       Tottenham Hotspur
42     168542       David Silva       87         87         Manchester City
46     202126           H. Kane       86         90       Tottenham Hotspur
50     192505         R. Lukaku       86         90       Manchester United
54     189242          Coutinho       86         89               Liverpool
56     184087   T. Alderweireld       86         87       Tottenham Hotspur
57     179944        David Luiz       86         86                 Chelsea
58     179844       Diego Costa       86         86                 Chelsea
65     162895     Cesc Fàbregas       86         86                 Chelsea
68      48940           P. Čech       86         86                 Arsenal
73     193301      A. Lacazette       85         88                 Arsenal
75     192883     H. Mkhitaryan       85         85       Manchester United
81     186942       I. Gündoğan       85         87         Manchester City
82     184432       Azpilicueta       85         87                 Chelsea
86     172871     J. Vertonghen       85         85       Tottenham Hotspur
90     139720        V. Kompany       85         85         Manchester City
92     225508         E. Bailly       84         89       Manchester United
94     218667    Bernardo Silva       84         91         Manchester City
96     211117           D. Alli       84         90       Tottenham Hotspur
...       ...               ...      ...        ...                     ...
16699  231172         J. Holmes       55         71             Bournemouth
16748  234559       M. Phillips       55         71          Crystal Palace
16796  235119        F. Bolkiah       55         69          Leicester City
16865  223909         A. Palmer       55         65    West Bromwich Albion
16890  228789    Robert Sanchez       55         73  Brighton & Hove Albion
16944  239321         E. Pierce       55         72    West Bromwich Albion
16957  237286       A. Connolly       55         72  Brighton & Hove Albion
16977  229880    A. Wan-Bissaka       55         71          Crystal Palace
16999  231438        T. Akinola       54         65         West Ham United
17015  240676           R. Nabi       54         64                 Burnley
17034  233528           K. Metz       54         63                 Burnley
17064  240462        M. Howarth       54         66                 Burnley
17071  226902     P. O'Flaherty       54         68             Bournemouth
17079  240732         O. Bayode       54         64                 Burnley
17084  231267         J. Lokilo       54         72          Crystal Palace
17093  221545     M. Waddington       54         61              Stoke City
17208  227545           T. Ryan       54         69       Huddersfield Town
17291  234039  R. Edmonds-Green       53         72       Huddersfield Town
17315  229206           D. Kane       53         70       Huddersfield Town
17317  229208          R. Booty       53         63       Huddersfield Town
17346  231032    Erik Sarmiento       53         72         Manchester City
17347  237176      R. Schofield       53         76       Huddersfield Town
17423  235736       K. Sterling       53         73       Tottenham Hotspur
17424  239320          B. House       53         72    West Bromwich Albion
17472  230678          J. Boyle       52         67       Huddersfield Town
17495  236599       S. Shashoua       52         70       Tottenham Hotspur
17604  236239       A. Whiteman       52         75       Tottenham Hotspur
17774  233481           E. Ross       50         62    West Bromwich Albion
17879  223989          N. Husin       50         65          Crystal Palace
17961  233047  J. Latibeaudiere       47         73         Manchester City

[650 rows x 5 columns]

In [65]:
epl_players.loc[:,'Name'=='E. Hazard']

KeyError: False