In [1]:
import pandas as pd
import json

In [2]:
epl_data = ("./Resources/english-premier-league-match-data/datafile 2/season17-18/season_stats.json")
fifa_player_info = ("./Resources/fifa-18-demo-player-dataset/PlayerPersonalData.csv")
fifa_player_info_df = pd.read_csv(fifa_player_info)

In [3]:
with open(epl_data) as jsonfile:
    match_stats_json = json.load(jsonfile)

In [136]:
# getting the name, team, position, and match rating for each player for each match. real match data

player_details = []

for match, team in match_stats_json.items():
    for team2,agg_stats in team.items():
        for x,y in agg_stats['team_details'].items():
            if x == 'team_name':
                team_name = y
        for player_name, player_stats in agg_stats['Player_stats'].items():
            save_stats=[]
            save_stats.append(player_name)
            save_stats.append(team_name)
            for key,value in player_stats['player_details'].items():
                if key == 'player_position_info':
                    save_stats.append(value)
                if key == 'player_rating':
                    save_stats.append(value)
            player_details.append(save_stats)

In [137]:
# put the dataframe together from the EPL .json

columns = ['name','team','position','match rating']
epl_data_df = pd.DataFrame(player_details, columns = columns)
epl_data_df.dtypes

name            object
team            object
position        object
match rating    object
dtype: object

In [148]:
# epl_data_df['club'] = epl_data_df['club'].astype(str)
# epl_data_df['team'] = epl_data_df['team'].astype(str)
epl_data_df['name'] = epl_data_df['name'].astype(str)
epl_data_df['match rating'] = epl_data_df['match rating'].astype(float)

In [162]:
# checking the match rating values of a player

epl_data_df.sort_values('name').head()

                  name      team position  match rating
3024   Aaron Cresswell  West Ham       DC          5.91
12708  Aaron Cresswell  West Ham      DML          7.28
6229   Aaron Cresswell  West Ham       DC          7.02
4861   Aaron Cresswell  West Ham       DC          6.38
7972   Aaron Cresswell  West Ham       DC          5.96

In [149]:
# creating a dataframe that we'll merge with the grouped dataframe

epl_data_name_team = epl_data_df[['name','team']]

In [200]:
# getting the average match rating for each player for the season

match_ratings = epl_data_df.groupby('name', as_index = False).mean()
match_ratings.head()

              name  match rating
0  Aaron Cresswell      6.508649
1     Aaron Lennon      6.467586
2       Aaron Mooy      6.868889
3   Aaron Ramsdale      0.000000
4     Aaron Ramsey      7.271250

In [206]:
# merging the DFs together to get the average rating, club for each player

match_ratings_club = match_ratings.merge(epl_data_name_team, on='name')

In [207]:
match_ratings_club.tail()

                name  match rating     team
13670  Álvaro Morata      6.935484  Chelsea
13671  Álvaro Morata      6.935484  Chelsea
13672  Álvaro Morata      6.935484  Chelsea
13673  Álvaro Morata      6.935484  Chelsea
13674  Álvaro Morata      6.935484  Chelsea

In [208]:
match_ratings_club = match_ratings_club.drop_duplicates('name')

In [209]:
len(match_ratings_club)

607

In [45]:
# dataframe with the FIFA video game ratings for all players

fifa_player_info_df = fifa_player_info_df[['ID','Name','Overall','Potential','Club']]
fifa_player_info_df.head()
len(fifa_player_info_df)

17981

In [43]:
# get the EPL teams from '17 -'18

wiki_tables = pd.read_html('https://en.wikipedia.org/wiki/2017%E2%80%9318_Premier_League')
epl_teams = wiki_tables[1]
epl_teams = epl_teams.loc[0:19,'Team']
epl_teams

0                    Arsenal
1                Bournemouth
2     Brighton & Hove Albion
3                    Burnley
4                    Chelsea
5             Crystal Palace
6                    Everton
7          Huddersfield Town
8             Leicester City
9                  Liverpool
10           Manchester City
11         Manchester United
12          Newcastle United
13               Southampton
14                Stoke City
15              Swansea City
16         Tottenham Hotspur
17                   Watford
18      West Bromwich Albion
19           West Ham United
Name: Team, dtype: object

In [53]:
# FIFA Data: get only the players that are in the EPL

epl_players = fifa_player_info_df.loc[fifa_player_info_df['Club'].isin(epl_teams)]

In [69]:
# FIFA Data

epl_players.head()

        ID          Name  Overall  Potential               Club
6   193080        De Gea       90         92  Manchester United
7   183277     E. Hazard       90         91            Chelsea
11  192985  K. De Bruyne       89         92    Manchester City
12  192119   T. Courtois       89         92            Chelsea
13  184941    A. Sánchez       89         89            Arsenal

In [72]:
len(epl_players)

650

In [75]:
# splitting the FIFA game data by last name

new = epl_players["Name"].str.rsplit(" ", n = 1, expand = True)  
epl_players['last_name'] = new[1]

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [169]:
# create a unique key for the FIFA game data
epl_players['key'] = epl_players['last_name'] + epl_players['Club']

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [197]:
epl_players.sort_values('key').head()

,ID,Name,Overall,Potential,Club,last_name,key
1732,186190,P. van Aanholt,75,76,Crystal Palace,Aanholt,AanholtCrystal Palace
3433,222513,R. Aarons,72,79,Newcastle United,Aarons,AaronsNewcastle United
3114,231352,T. Abraham,73,86,Swansea City,Abraham,AbrahamSwansea City
2200,155976,C. Adam,74,74,Stoke City,Adam,AdamStoke City
12482,222104,T. Adarabioyo,63,83,Manchester City,Adarabioyo,AdarabioyoManchester City

In [210]:
# splitting the EPL .json data by last name

new2 = match_ratings_club['name'].str.rsplit(" ", n = 1, expand = True)  
match_ratings_club['last_name'] = new2[1]

In [211]:
# create a unique key for the EPL .json data
match_ratings_club['key'] = match_ratings_club['last_name'] + match_ratings_club['team']

In [212]:
match_ratings_club.sort_values('key').head()

,name,match rating,team,last_name,key
10411,Patrick van Aanholt,5.286111,Crystal Palace,Aanholt,AanholtCrystal Palace
11213,Rolando Aarons,2.277273,Newcastle United,Aarons,AaronsNewcastle United
12415,Tammy Abraham,6.023636,Swansea,Abraham,AbrahamSwansea
2161,Charlie Adam,2.174688,Stoke,Adam,AdamStoke
12855,Tosin Adarabioyo,0.000000,Manchester City,Adarabioyo,AdarabioyoManchester City

In [213]:
merged_df = pd.merge(epl_players, match_ratings_club, on='key',how='inner')

In [214]:
len(merged_df)

646

In [215]:
merged_df

,ID,Name,Overall,Potential,Club,last_name_x,key,name,match rating,team,last_name_y
0,193080,De Gea,90,92,Manchester United,Gea,GeaManchester United,David De Gea,6.697333,Manchester United,Gea
1,193080,De Gea,90,92,Manchester United,Gea,GeaManchester United,David de Gea,6.925000,Manchester United,Gea
2,183277,E. Hazard,90,91,Chelsea,Hazard,HazardChelsea,Eden Hazard,7.469714,Chelsea,Hazard
3,223938,K. Hazard,63,73,Chelsea,Hazard,HazardChelsea,Eden Hazard,7.469714,Chelsea,Hazard
4,192985,K. De Bruyne,89,92,Manchester City,Bruyne,BruyneManchester City,Kevin De Bruyne,7.597895,Manchester City,Bruyne
5,192119,T. Courtois,89,92,Chelsea,Courtois,CourtoisChelsea,Thibaut Courtois,6.630571,Chelsea,Courtois
6,153079,S. Agüero,89,89,Manchester City,Agüero,AgüeroManchester City,Sergio Agüero,6.732759,Manchester City,Agüero
7,176635,M. Özil,88,88,Arsenal,Özil,ÖzilArsenal,Mesut Özil,6.977778,Arsenal,Özil
8,215914,N. Kanté,87,90,Chelsea,Kanté,KantéChelsea,N'Golo Kanté,7.242059,Chelsea,Kanté
9,195864,P. Pogba,87,92,Manchester United,Pogba,PogbaManchester United,Paul Pogba,7.478889,Manchester United,Pogba
10,168542,David Silva,87,87,Manchester City,Silva,SilvaManchester City,Bernardo Silva,6.248684,Manchester City,Silva
11,168542,David Silva,87,87,Manchester City,Silva,SilvaManchester City,David Silva,7.326333,Manchester City,Silva
12,218667,Bernardo Silva,84,91,Manchester City,Silva,SilvaManchester City,Bernardo Silva,6.248684,Manchester City,Silva
13,218667,Bernardo Silva,84,91,Manchester City,Silva,SilvaManchester City,David Silva,7.326333,Manchester City,Silva
14,192505,R. Lukaku,86,90,Manchester United,Lukaku,LukakuManchester United,Romelu Lukaku,7.287059,Manchester United,Lukaku
15,189242,Coutinho,86,89,Liverpool,None,NaN,Adrián,3.393158,West Ham,None
16,189242,Coutinho,86,89,Liverpool,None,NaN,Bojan,2.036667,Stoke,None
17,189242,Coutinho,86,89,Liverpool,None,NaN,Bruno,4.795429,Brighton,None
18,189242,Coutinho,86,89,Liverpool,None,NaN,Chicharito,5.944516,West Ham,None
19,189242,Coutinho,86,89,Liverpool,None,NaN,Danilo,4.417500,Manchester City,None
20,189242,Coutinho,86,89,Liverpool,None,NaN,Ederson,6.349474,Manchester City,None
21,189242,Coutinho,86,89,Liverpool,None,NaN,Eduardo,0.000000,Chelsea,None
22,189242,Coutinho,86,89,Liverpool,None,NaN,Emerson,2.767500,Chelsea,None
23,189242,Coutinho,86,89,Liverpool,None,NaN,Fernandinho,7.436471,Manchester City,None
24,189242,Coutinho,86,89,Liverpool,None,NaN,Jesé,4.644444,Stoke,None
25,189242,Coutinho,86,89,Liverpool,None,NaN,Joselu,5.949412,Newcastle United,None
26,189242,Coutinho,86,89,Liverpool,None,NaN,Kenedy,5.317647,Newcastle United,None
27,189242,Coutinho,86,89,Liverpool,None,NaN,Pedro,5.900286,Chelsea,None
28,189242,Coutinho,86,89,Liverpool,None,NaN,Richarlison,6.832632,Watford,None
29,189242,Coutinho,86,89,Liverpool,None,NaN,Willian,6.816757,Chelsea,None
...,...,...,...,...,...,...,...,...,...,...,...
616,237692,P. Foden,65,84,Manchester City,Foden,FodenManchester City,Phil Foden,2.430000,Manchester City,Foden
617,236248,B. Woodburn,65,85,Liverpool,Woodburn,WoodburnLiverpool,Ben Woodburn,1.023333,Liverpool,Woodburn
618,182761,A. Legzdins,65,65,Burnley,Legzdins,LegzdinsBurnley,Adam Legzdins,0.000000,Burnley,Legzdins
619,225782,A. Maitland-Niles,65,78,Arsenal,Maitland-Niles,Maitland-NilesArsenal,Ainsley Maitland-Niles,3.839615,Arsenal,Maitland-Niles
620,233957,S. Field,64,81,West Bromwich Albion,Field,FieldWest Bromwich Albion,Sam Field,3.630000,West Bromwich Albion,Field
621,230899,A. Lookman,64,82,Everton,Lookman,LookmanEverton,Ademola Lookman,2.593529,Everton,Lookman
622,222104,T. Adarabioyo,63,83,Manchester City,Adarabioyo,AdarabioyoManchester City,Tosin Adarabioyo,0.000000,Manchester City,Adarabioyo
623,237238,S. McTominay,63,77,Manchester United,McTominay,McTominayManchester United,Scott McTominay,3.663478,Manchester United,McTominay
624,215301,L. Jones,62,70,Liverpool,Jones,JonesLiverpool,Curtis Jones,0.000000,Liverpool,Jones
625,222514,F. Woodman,62,78,Newcastle United,Woodman,WoodmanNewcastle United,Freddie Woodman,0.000000,Newcastle United,Woodman
626,222514,F. Woodman,62,78,Newcastle United,Woodman,WoodmanNewcastle United,Freddy Woodman,0.000000,Newcastle United,Woodman
627,208989,F. Ladapo,62,66,Crystal Palace,Ladapo,LadapoCrystal Palace,Freddie Ladapo,2.945000,Crystal Palace,Ladapo
628,209532,D. Bachmann,62,72,Watford,Bachmann,BachmannWatford,Daniel Bachmann,0.000000,Watford,Bachmann
629,230876,M. Butcher,62,76,Bournemouth,Butcher,ButcherBournemouth,Matt Butcher,0.000000,Bournemouth,Butcher
630,238071,D. Sterling,62,82,Chelsea,Sterling,SterlingChelsea,Dujon Sterling,0.000000,Chelsea,Sterling
631,216656,J. Sinclair,61,72,Watford,Sinclair,SinclairWatford,Jerome Sinclair,1.876923,Watford,Sinclair
632,233934,A. Ramsdale,61,80,Bournemouth,Ramsdale,RamsdaleBournemouth,Aaron Ramsdale,0.000000,Bournemouth,Ramsdale
633,230918,T. Chalobah,60,77,Chelsea,Chalobah,ChalobahChelsea,Trevoh Chalobah,0.000000,Chelsea,Chalobah
634,232757,K. Scott,60,75,Chelsea,Scott,ScottChelsea,Kyle Scott,0.000000,Chelsea,Scott
635,227807,M. Folivi,60,77,Watford,Folivi,FoliviWatford,Michael Folivi,0.000000,Watford,Folivi
636,230882,J. Simpson,60,75,Bournemouth,Simpson,SimpsonBournemouth,Jack Simpson,0.347059,Bournemouth,Simpson
637,231448,R. Nelson,59,83,Arsenal,Nelson,NelsonArsenal,Reiss Nelson,2.760000,Arsenal,Nelson
638,236988,E. Nketiah,59,80,Arsenal,Nketiah,NketiahArsenal,Eddie Nketiah,1.650909,Arsenal,Nketiah
639,239317,M. Melbourne,58,74,West Bromwich Albion,Melbourne,MelbourneWest Bromwich Albion,Max Melbourne,0.000000,West Bromwich Albion,Melbourne
640,238073,K. Jameson,58,68,West Bromwich Albion,Jameson,JamesonWest Bromwich Albion,Kyle Jameson,0.000000,West Bromwich Albion,Jameson
641,237825,N. Kirby,57,74,Crystal Palace,Kirby,KirbyCrystal Palace,Nya Kirby,0.000000,Crystal Palace,Kirby
642,224263,J. Kenny,57,72,Everton,Kenny,KennyEverton,Jonjoe Kenny,5.439167,Everton,Kenny
643,223909,A. Palmer,55,65,West Bromwich Albion,Palmer,PalmerWest Bromwich Albion,Alex Palmer,0.000000,West Bromwich Albion,Palmer
644,229880,A. Wan-Bissaka,55,71,Crystal Palace,Wan-Bissaka,Wan-BissakaCrystal Palace,Aaron Wan-Bissaka,3.759286,Crystal Palace,Wan-Bissaka
645,231267,J. Lokilo,54,72,Crystal Palace,Lokilo,LokiloCrystal Palace,Jason Eyenga Lokilo,0.000000,Crystal Palace,Lokilo